{% extends 'base.html' %}

{% block title %}Home - Code Craft Haven{% endblock %}

{% block content %}
<section class="hero">
    <div class="hero-content">
        <h1>Welcome to Code Craft Haven</h1>
        <p>At Code Craft Haven, we host hackathons, mentorship programs, and collaborative workshops, helping aspiring developers turn ideas into reality and grow their technical skills.</p>
        <p>Empowering developers, fostering innovation, and building a thriving community where creativity meets technology.</p>
        <p>Join us to connect, learn, and push the boundaries of innovation. Be a part of our Hackathon and Innovation Community!</p>
        <a href="{{ url_for('main.signup') }}" target="_blank" class="btn">Register Now</a>
    </div>
</section>
{% endblock %}
