{% extends 'base.html' %}

{% block title %}Register - Code Craft Haven{% endblock %}

{% block content %}
<section class="registration-section">
    <h2>Register for Code Craft Haven Hackathon</h2>
    <form method="POST" action="{{ url_for('main.submit_registration') }}">
        {{ form.hidden_tag() }}  <!-- CSRF Token -->
        <div>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}
        </div>
        <div>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}
        </div>
        <div>
            {{ form.phone.label }}<br>
            {{ form.phone(size=32) }}
        </div>
        <div>
            {{ form.location.label }}<br>
            {{ form.location(size=32) }}
        </div>
        <div>
            {{ form.organization.label }}<br>
            {{ form.organization(size=32) }}
        </div>
        <div>
            {{ form.role.label }}<br>
            {{ form.role() }}
        </div>
        <div>
            {{ form.proficiency.label }}<br>
            {{ form.proficiency() }}
        </div>
        <div>
            {{ form.recaptcha }}
        </div>
        <div>
            <button type="submit">Register</button>
        </div>
    </form>
</section>
{% endblock %}
